<div class = "inventory">
  <div class= "inventory-menu col-sm-12">
    <button class="btn btn-default" type="submit" (click)="getInventory()">Обновить</button>
  </div>
  <div>
    <div *ngIf = "loading || !inventoryService.inventoryToEdit.description" class = "flex-center-vertically text-center">
      <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
    <div *ngIf = "!loading && inventoryService.inventoryToEdit.description">
      <div style = "height:1px; background-color:gray;width:100%"></div>
      <div  class = "col-md-12">
        <div class = "">
          <!-- <span class="col-md-1 control-label label label-default" style="font-size:12px"> </span> -->
          <div class="">
            <label class="control-label">id:</label>
            {{inventoryService.inventoryToEdit.id}}
          </div>
          <div class="" style="">
            <label class="control-label">Наименование в 1С:</label>
            {{inventoryService.inventoryToEdit.description1s}}
          </div>
          <div class="" style="">
            <label class="control-label">Наименование для сайта:</label>
          </div>
          <form class="form-horizontal col-md-12">
            <div class="form-group form-group-sm">
              <div class="input-group">
                <input class = "" type="text" id="" class="form-control" *ngIf = "!inventoryService.inventoryToEdit.description.editing" name="number"
                 value="{{inventoryService.inventoryToEdit.description.text}}" disabled>
                 <input class = "" type="text" id="" class="form-control" *ngIf = "inventoryService.inventoryToEdit.description.editing" name="number"
                  [(ngModel)]="inventoryService.inventoryToEdit.description.text">
                <span class="input-group-btn" *ngIf = "!inventoryService.inventoryToEdit.description.saving">
                  <button class="btn btn-default btn-sm" type="button" *ngIf = "!inventoryService.inventoryToEdit.description.editing" (click) = "editDescriptionBegin()">Изменить</button>
                  <button class="btn btn-default btn-sm" *ngIf = "inventoryService.inventoryToEdit.description.editing" type="submit" (click) = "editDescriptionSave()">Сохранить</button>
                  <button class="btn btn-default btn-sm" type="button" *ngIf = "inventoryService.inventoryToEdit.description.editing" (click) = "editDescriptionCancel()">Отменить</button>
                </span>
                <span class="input-group-btn" *ngIf = "inventoryService.inventoryToEdit.description.saving">
                  <button class="btn btn-default btn-sm" type="button" (click) = "editDescriptionBegin()"><i class="fa fa-cog fa-spin fa-1x fa-fw"></i>
                                <span class="sr-only">Loading...</span></button>
                </span>

              </div>
            </div>
          </form>
        </div>
        <div class = "">
          <div class="">
            <label class="control-label">Основной номер:</label>
            {{getMainNumber()}}
          </div>
          <div class="">
            <label class="control-label">Производитель:</label>
            {{getMainManufacturer()}}
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <label class="control-label">Прочие номера:</label>
      </div>
      <p class = "col-md-12 text-center" *ngIf = "inventoryService.inventoryToEdit.loadingNumbers">
        <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </p>
      <div class = "col-md-12">
        <ng-container *ngFor = "let number of inventoryService.inventoryToEdit.numbers; let i = index" >
          <form class="form-inline" style="margin-bottom:4px;">
            <div class = "form-group">
              <input class = "col-md-3" *ngIf = "!number.editing" type="text" id="disabledTextInput" class="form-control" value="{{number.number}}" disabled>
              <input class = "col-md-3" *ngIf = "number.editing" type="text" id="" class="form-control" name="number" [(ngModel)]="number.number">
              <select *ngIf = "number.editing" class="form-control" [(ngModel)]="number.manufacturerId" name="manufacturer">
                <option *ngFor="let manufacturer of inventoryService.manufacturers; let j = index" [selected]="manufacturer.id == number.manufacturerId" [ngValue]="manufacturer.id">{{manufacturer.fullName}}</option>
              </select>
              <select *ngIf = "!number.editing" class="form-control" name="manufacturer" disabled>
                <option *ngFor="let manufacturer of inventoryService.manufacturers; let j = index" [selected]="manufacturer.id == number.manufacturerId" [ngValue]="manufacturer.id">{{manufacturer.fullName}}</option>
              </select>
            </div>
            <div class = "form-group" *ngIf = "number.saving || changingMain">
              <i class="fa fa-cog fa-spin fa-1x fa-fw"></i>
              <span class="sr-only">Loading...</span>
            </div>
            <span class = "form-group" *ngIf = "!number.saving && !changingMain">
              <span  *ngIf = "!number.changeMain && !number.deleting">
                <button type="submit" class="btn btn-default" *ngIf = "!number.editing" (click) = "editNumberBegin(i)">Изменить</button>
                <button type="submit" class="btn btn-default" *ngIf = "number.editing" (click) = "editNumberSave(i)">Сохранить</button>
                <button type="submit" class="btn btn-default" *ngIf = "number.editing" (click) = "editNumberCancel(i)">Отменить</button>
              </span>
              <span  *ngIf = "!number.changeMain && !number.editing">
                <button type="submit" class="btn btn-default" *ngIf = "!number.deleting" (click) = "deleteNumberBegin(i)">Удалить</button>
                <button type="submit" class="btn btn-danger" *ngIf = "number.deleting" (click) = "deleteNumberSave(i)">Удалить</button>
                <button type="submit" class="btn btn-success" *ngIf = "number.deleting" (click) = "deleteNumberCancel(i)">Отменить</button>
              </span>
              <span  *ngIf = "!number.editing && !number.deleting">
                <button *ngIf = "!number.main && !number.changeMain" type="submit" class="btn btn-default" (click) = "changeMainBegin(i)">Сделать основным</button>
                <button type="submit" class="btn btn-default
                " *ngIf = "number.changeMain" (click) = "changeMainSave(i)">Подтвердить</button>
                <button type="submit" class="btn btn-default" *ngIf = "number.changeMain" (click) = "changeMainCancel(i)">Отменить</button>
                <span *ngIf = "number.main"> <i class="fa fa-check-square"></i> Основной</span>
              </span>
            </span>
          </form>
        </ng-container>
        <form class="form-inline" style="margin-bottom:4px;">
          <button type="submit" class="btn btn-default" *ngIf = "!numberToAdd.editing && !numberToAdd.saving" (click) = "addNumberBegin()">Добавить</button>
          <div class = "form-group">
            <input class = "" *ngIf = "numberToAdd.editing" type="text" id="" class="form-control" name="number" [(ngModel)]="numberToAdd.number">
          </div>
          <select *ngIf = "numberToAdd.editing" class="form-control" [(ngModel)]="numberToAdd.manufacturerId" name="manufacturer">
            <option *ngFor="let manufacturer of inventoryService.manufacturers; let j = index" [ngValue]="manufacturer.id">{{manufacturer.fullName}}</option>
          </select>
          <span *ngIf = "numberToAdd.saving">
            <i class="fa fa-cog fa-spin fa-1x fa-fw"></i>
            <span class="sr-only">Loading...</span>
          </span>
          <span *ngIf = "!numberToAdd.saving">
            <button type="submit" class="btn btn-default" *ngIf = "numberToAdd.editing" (click) = "addNumberSave()">Сохранить</button>
            <button type="submit" class="btn btn-default" *ngIf = "numberToAdd.editing" (click) = "addNumberCancel()">Отменить</button>
          </span>
        </form>
      </div>

      <!-- <div class = "col-md-12">
        <div class="col-md-8">
          <label class="control-label">Аналоги:</label>
          {{inventoryService.inventoryToEdit.numbers}}
        </div>
      </div>
      <div class = "col-md-12">
        <label class="col-sm-1 control-label">Цена:</label>
        <div class="col-sm-2">
          {{inventoryService.inventoryToEdit.price}}
        </div>
        <label class="col-sm-1 control-label">Склад:</label>
        <div class="col-sm-2">
          {{inventoryService.inventoryToEdit.stock}}
        </div>
        <label class="col-sm-1 control-label">Едет:</label>
        <div class="col-sm-2">
          {{inventoryService.inventoryToEdit.ordered}}
        </div>
      </div> -->
      <div class="col-md-12">
        <label class="control-label">Изображение:</label>
      </div>
      <div class = "inventory-image">
        <div class = "col-md-12 text-center"  *ngIf = "!inventoryService.inventoryToEdit.image.loading">
          <form class="form" style="margin-bottom:4px;">
            <div class = "form-group">

              <button type="button" class="btn btn-default" (click)="editImageStart()" *ngIf = "!inventoryService.inventoryToEdit.image.editing">Изменить</button>
              <label class="btn btn-default btn-file" *ngIf = "inventoryService.inventoryToEdit.image.editing">
                  Выбрать файл<input type="file" name="file" style="display: none;" (change)=onImageChange($event)>
              </label>
              <button type="button" class="btn btn-default" (click)="updateImage()" *ngIf = "inventoryService.inventoryToEdit.image.editing && inventoryService.inventoryToEdit.image.readyToSave">Сохранить</button>
              <button type="button" class="btn btn-default" (click)="editImageCancel()" *ngIf = "inventoryService.inventoryToEdit.image.editing">Отменить</button>

            </div>
              <!-- <button type="button" class="btn btn-default" >Добавить</button> -->
            <!-- <span class = "form-group">
              <button type="submit" class="btn btn-default" >Добавить</button>
            </span> -->

          </form>

        </div>
        <p class = "col-md-12 text-center" *ngIf = "inventoryService.inventoryToEdit.image.loading">
          <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </p>
        <div class = "col-md-12">
          <img class="img-rounded img-responsive center-image" style = "" [src]="domSanitizer.bypassSecurityTrustUrl(inventoryService.inventoryToEdit.image.data)" />
        </div>
      </div>
    </div>
  </div>
</div>
