<div class="inventory">

  <div *ngIf="loading || !inventoryService.inventoryToEdit.description  || !inventoryService.manufacturers.length"
    class="flex-center-vertically text-center">
    <fa-icon [icon]="['fas', 'cog']" [spin]="true" size="3x" style="color:gray;"></fa-icon>
    <span class="sr-only">Loading...</span>
  </div>

  <div *ngIf="!loading && inventoryService.inventoryToEdit.description  && inventoryService.manufacturers.length">
    
    <div class="inventory-menu">
      <button class="btn btn-outline-secondary" type="submit" (click)="getInventory()">Обновить</button>
    </div>

    <!-- Descriptions block START -->
    <div class="col-md-12">
      <div class="">
        <div class="">
          <label class="control-label">id:</label>
          {{inventoryService.inventoryToEdit.id}}
        </div>
        <div class="">
          <label class="control-label">Наименование в 1С:</label>
          {{inventoryService.inventoryToEdit.description1s}}
          <label class="control-label">Номер:</label>
          {{inventoryService.inventoryToEdit.number}}
        </div>
        <div class="">
          <label class="control-label">Наименование для сайта:</label>
        </div>
        <form class="input-group mb-3">
          <div class="input-group-prepend">
            <div *ngIf="!inventoryService.inventoryToEdit.description.saving">
              <button class="btn btn-outline-secondary btn-sm" type="button"
                *ngIf="!inventoryService.inventoryToEdit.description.editing"
                (click)="editDescriptionBegin()">Изменить</button>
              <button class="btn btn-outline-secondary btn-sm"
                *ngIf="inventoryService.inventoryToEdit.description.editing" type="submit"
                (click)="editDescriptionSave()">Сохранить</button>
              <button class="btn btn-outline-secondary btn-sm" type="button"
                *ngIf="inventoryService.inventoryToEdit.description.editing"
                (click)="editDescriptionCancel()">Отменить</button>
            </div>
            <button *ngIf="inventoryService.inventoryToEdit.description.saving" class="btn btn-outline-secondary btn-sm"
              type="button">
              <fa-icon [icon]="['fas', 'cog']" [spin]="true" style="color:gray;"></fa-icon>
              <span class="sr-only">Loading...</span>
            </button>
          </div>
          <input class="" type="text" class="form-control form-control-sm border border-secondary"
            *ngIf="!inventoryService.inventoryToEdit.description.editing" name="number"
            value="{{inventoryService.inventoryToEdit.description.text}}" disabled>
          <input class="" type="text" class="form-control form-control-sm border border-secondary"
            *ngIf="inventoryService.inventoryToEdit.description.editing" name="number"
            [(ngModel)]="inventoryService.inventoryToEdit.description.text">
        </form>
        <div class="">
          <label class="control-label">Применение и комментарий:</label>
        </div>
        <form class="input-group mb-3">
          <div class="input-group-prepend">
            <div *ngIf="!inventoryService.inventoryToEdit.comment.saving">
              <button class="btn btn-outline-secondary btn-sm" type="button"
                *ngIf="!inventoryService.inventoryToEdit.comment.editing" (click)="editCommentBegin()">Изменить</button>
              <button class="btn btn-outline-secondary btn-sm" *ngIf="inventoryService.inventoryToEdit.comment.editing"
                type="submit" (click)="editCommentSave()">Сохранить</button>
              <button class="btn btn-outline-secondary btn-sm" type="button"
                *ngIf="inventoryService.inventoryToEdit.comment.editing" (click)="editCommentCancel()">Отменить</button>
            </div>
            <button *ngIf="inventoryService.inventoryToEdit.comment.saving" class="btn btn-outline-secondary btn-sm">
              <fa-icon [icon]="['fas', 'cog']" [spin]="true" style="color:gray;"></fa-icon>
              <span class="sr-only">Loading...</span>
            </button>
          </div>
          <input class="" type="text" class="form-control form-control-sm border border-secondary"
            *ngIf="!inventoryService.inventoryToEdit.comment.editing" name="number"
            value="{{inventoryService.inventoryToEdit.comment.text}}" disabled>
          <input class="" type="text" class="form-control form-control-sm border border-secondary"
            *ngIf="inventoryService.inventoryToEdit.comment.editing" name="number"
            [(ngModel)]="inventoryService.inventoryToEdit.comment.text">
        </form>
      </div>
      <div class="">
        <div class="">
          <label class="control-label">Основной номер:</label>
          {{getMainNumber()}}
        </div>
        <div class="">
          <label class="control-label">Производитель:</label>
          {{getMainManufacturer()}}
        </div>
      </div>
    </div>
    <!-- Descriptions block END -->


    <!-- All numbers block START -->
    <div class="col-md-8">
      <label class="control-label">Прочие номера:</label>
    </div>
    <p class="col-md-12 text-center" *ngIf="inventoryService.inventoryToEdit.loadingNumbers">
      <fa-icon [icon]="['fas', 'cog']" [spin]="true" size="3x" style="color:gray;"></fa-icon>
      <span class="sr-only">Loading...</span>
    </p>
    <div class="col-md-12 mb-2">
      <ng-container *ngFor="let number of inventoryService.inventoryToEdit.numbers; let i = index">
        <form class="form-inline mb-1">
          <div class="form-inline">
            <input class="form-control form-control-sm col-xs-3 mx-1 mb-1 border border-secondary"
              *ngIf="!number.editing" type="text" value="{{number.number}}" disabled>
            <input class="form-control form-control-sm col-xs-3 mx-1 mb-1 border border-secondary"
              *ngIf="number.editing" type="text" name="number" [(ngModel)]="number.number">
            <select class="form-control form-control-sm mx-1 mb-1 border border-secondary" *ngIf="number.editing"
              [(ngModel)]="number.manufacturerId" name="manufacturer">
              <option *ngFor="let manufacturer of inventoryService.manufacturers; let j = index"
                [selected]="manufacturer.id == number.manufacturerId" [ngValue]="manufacturer.id">
                {{manufacturer.fullName}}</option>
            </select>
            <select class="form-control form-control-sm mx-1 mb-1 border border-secondary" *ngIf="!number.editing"
              name="manufacturer" disabled>
              <option *ngFor="let manufacturer of inventoryService.manufacturers; let j = index"
                [selected]="manufacturer.id == number.manufacturerId" [ngValue]="manufacturer.id">
                {{manufacturer.fullName}}</option>
            </select>
          </div>
          <div class="form-inline mb-1" *ngIf="!number.saving && !changingMain">
            <span *ngIf="!number.changeMain && !number.deleting">
              <button type="button" class="btn btn-outline-secondary mx-1 btn-sm" *ngIf="!number.editing"
                (click)="editNumberBegin(i)">Изменить</button>
              <button type="submit" class="btn btn-outline-secondary mx-1 btn-sm" *ngIf="number.editing"
                (click)="editNumberSave(i)">Сохранить</button>
              <button type="button" class="btn btn-outline-secondary mx-1 btn-sm" *ngIf="number.editing"
                (click)="editNumberCancel(i)">Отменить</button>
            </span>
            <span *ngIf="!number.changeMain && !number.editing">
              <button type="button" class="btn btn-outline-secondary mx-1 btn-sm" *ngIf="!number.deleting"
                (click)="deleteNumberBegin(i)">Удалить</button>
              <button type="button" class="btn btn-outline-danger mx-1 btn-sm" *ngIf="number.deleting"
                (click)="deleteNumberSave(i)">Удалить</button>
              <button type="button" class="btn btn-outline-success mx-1 btn-sm" *ngIf="number.deleting"
                (click)="deleteNumberCancel(i)">Отменить</button>
            </span>
            <span *ngIf="!number.editing && !number.deleting">
              <button type="button" class="btn btn-outline-secondary mx-1 btn-sm"
                *ngIf="!number.main && !number.changeMain" (click)="changeMainBegin(i)">Сделать основным</button>
              <button type="button" class="btn btn-outline-secondary mx-1 btn-sm" *ngIf="number.changeMain"
                (click)="changeMainSave(i)">Подтвердить</button>
              <button type="button" class="btn btn-outline-secondary mx-1 btn-sm" *ngIf="number.changeMain"
                (click)="changeMainCancel(i)">Отменить</button>
              <span *ngIf="number.main">Основной</span>
            </span>
          </div>
          <div class="form-inline" *ngIf="number.saving || changingMain">
            <fa-icon [icon]="['fas', 'cog']" [spin]="true" style="color:gray;"></fa-icon>
            <span class="sr-only">Loading...</span>
          </div>
        </form>
      </ng-container>
      <form class="form-inline mb-1">
        <button class="btn btn-outline-secondary mx-1 btn-sm" *ngIf="!numberToAdd.editing && !numberToAdd.saving"
          (click)="addNumberBegin()" type="button">Добавить</button>
        <input class="form-control form-control-sm col-xs-3 mx-1 mb-2 border border-secondary"
          *ngIf="numberToAdd.editing" type="text" name="number" [(ngModel)]="numberToAdd.number">
        <select class="form-control form-control-sm mx-1 mb-2 border border-secondary" *ngIf="numberToAdd.editing"
          [(ngModel)]="numberToAdd.manufacturerId" name="manufacturer">
          <option *ngFor="let manufacturer of inventoryService.manufacturers; let j = index"
            [selected]="manufacturer.id == inventoryService.inventoryToEdit.manufacturerOld"
            [ngValue]="manufacturer.id">{{manufacturer.fullName}}</option>
        </select>
        <span *ngIf="!numberToAdd.saving">
          <button type="submit" class="btn btn-outline-secondary mx-1 mb-2 btn-sm" *ngIf="numberToAdd.editing"
            (click)="addNumberSave()">Сохранить</button>
          <button type="button" class="btn btn-outline-secondary mx-1 mb-2 btn-sm" *ngIf="numberToAdd.editing"
            (click)="addNumberCancel()">Отменить</button>
        </span>
        <span *ngIf="numberToAdd.saving">
          <fa-icon [icon]="['fas', 'cog']" [spin]="true" style="color:gray;"></fa-icon>
          <span class="sr-only">Loading...</span>
        </span>
      </form>
    </div>
    <!-- All numbers block END -->

    <!-- Weight Start -->
    <div class="mb-1 col-md-12">
      <div class="row">
        <div class="col-sm-2">
          Вес, kg:
        </div>
        <form class="input-group input-group-sm col-sm-4">
          <input type="text" class="form-control border border-secondary"
            *ngIf="!inventoryService.inventoryToEdit.weight.editing" name="number"
            value="{{inventoryService.inventoryToEdit.weight.text}}" disabled>
          <input type="text" class="form-control border border-secondary"
            *ngIf="inventoryService.inventoryToEdit.weight.editing" name="number"
            [(ngModel)]="inventoryService.inventoryToEdit.weight.text">
          <span class="input-group-append" *ngIf="!inventoryService.inventoryToEdit.weight.saving">
            <button class="btn btn-outline-secondary" type="button"
              *ngIf="!inventoryService.inventoryToEdit.weight.editing" (click)="editWeightBegin()">Изменить</button>
            <button class="btn btn-outline-secondary" *ngIf="inventoryService.inventoryToEdit.weight.editing"
              type="submit" (click)="editWeightSave()">Сохранить</button>
            <button class="btn btn-outline-secondary" type="button"
              *ngIf="inventoryService.inventoryToEdit.weight.editing" (click)="editWeightCancel()">Отменить</button>
          </span>
          <span class="input-group-append" *ngIf="inventoryService.inventoryToEdit.weight.saving">
            <button class="btn btn-outline-secondary btn-sm" type="button">
              <fa-icon [icon]="['fas', 'cog']" [spin]="true" style="color:gray;"></fa-icon>
              <span class="sr-only">Loading...</span>
            </button>
          </span>
        </form>
      </div>
    </div>
    <!-- Weight End -->

    <!-- Permalink Start  -->
    <div class="col-md-12 url mb-2">
      <div class="mb-2">
        <div class="">
          <label class="control-label">URL:</label> {{isEqual()}}
        </div>
        <form class="input-group input-group-sm">
          <span class="input-group-prepend" *ngIf="!inventoryService.inventoryToEdit.url.saving">
            <button class="btn btn-outline-secondary btn-sm" type="button"
              *ngIf="!inventoryService.inventoryToEdit.url.editing" (click)="editUrlBegin()">Изменить</button>
            <button class="btn btn-outline-secondary btn-sm" *ngIf="inventoryService.inventoryToEdit.url.editing"
              type="submit" (click)="editUrlSave()">Сохранить</button>
            <button class="btn btn-outline-secondary btn-sm" type="button"
              *ngIf="inventoryService.inventoryToEdit.url.editing" (click)="editUrlCancel()">Отменить</button>
            <button class="btn btn-outline-secondary btn-sm" *ngIf="inventoryService.inventoryToEdit.url.saving"
              type="button">
              <fa-icon [icon]="['fas', 'cog']" [spin]="true" style="color:gray;"></fa-icon>
              <span class="sr-only">Loading...</span>
            </button>
          </span>
          <input class="" type="text" class="form-control form-control-sm border border-secondary"
            *ngIf="!inventoryService.inventoryToEdit.url.editing" name="number"
            value="{{inventoryService.inventoryToEdit.url.text}}" disabled>
          <input class="" type="text" class="form-control form-control-sm border border-secondary"
            *ngIf="inventoryService.inventoryToEdit.url.editing" name="number"
            [(ngModel)]="inventoryService.inventoryToEdit.url.text">
        </form>
      </div>
      <div class="input-group input-group-sm mb-2">
        <span class="input-group-prepend" *ngIf="!inventoryService.inventoryToEdit.url.pulling">
          <button class="btn btn-outline-secondary btn-sm" type="button"
            *ngIf="!inventoryService.inventoryToEdit.url.textToRecommend" (click)="recommendUrlPull()">Запросить
            рекомендуемый</button>
          <button class="btn btn-outline-secondary btn-sm" *ngIf="inventoryService.inventoryToEdit.url.textToRecommend"
            type="submit" (click)="recommendUrlPut()">Подставить вместо текущего</button>
          <button class="btn btn-outline-secondary btn-sm" *ngIf="inventoryService.inventoryToEdit.url.pulling"
            type="button">
            <fa-icon [icon]="['fas', 'cog']" [spin]="true" style="color:gray;"></fa-icon>
            <span class="sr-only">Loading...</span>
          </button>
        </span>
        <input class="" type="text" class="form-control form-control-sm border border-secondary" name="number"
          value="{{inventoryService.inventoryToEdit.url.textToRecommend}}" disabled>
      </div>
    </div>
    <!-- Permalink End  -->

    <!-- ImageEditor Start  -->
    <div class="col-md-12">
      <label class="control-label">Изображение:</label>
    </div>
    <div class="inventory-image mb-4">
      <div class="col-md-12 text-center" *ngIf="!inventoryService.inventoryToEdit.image.loading">
        <form class="form" style="margin-bottom:4px;">
          <div class="form-group">
            <button type="button" class="btn btn-outline-secondary btn-sm mx-1" (click)="editImageStart()"
              *ngIf="!inventoryService.inventoryToEdit.image.editing">Изменить</button>
            <input type="file" name="file" style="display: none;" (change)=onImageChange($event) #fileInput>
            <button class="btn btn-outline-secondary btn-sm mx-1 mb-1" *ngIf="inventoryService.inventoryToEdit.image.editing" (click) = "fileInput.click()">
              Выбрать файл 
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm mx-1 mb-1" (click)="editImageCancel()"
              *ngIf="inventoryService.inventoryToEdit.image.editing">Отменить</button>
            <button type="button" class="btn btn-outline-secondary btn-sm mx-1 mb-1" *ngIf="inventoryService.inventoryToEdit.image.editing && inventoryService.inventoryToEdit.image.readyToSave" (click)="updateImage()">
              Сохранить
            </button>
            <div  *ngIf="inventoryService.inventoryToEdit.image.editing && inventoryService.inventoryToEdit.image.readyToSave">
              <input type="range" id="vol" name="vol" min="200" max="1000" [(ngModel)]="maxSize"> {{maxSize}} kb
              <button type="button" class="btn btn-outline-secondary btn-sm mx-1" (click)="changeImageSize()">Изменить размер</button>
              <button type="button" class="btn btn-outline-secondary btn-sm mx-1" (click)="rotateImage()">
                <fa-icon [icon]="['fas', 'undo']" style="color:gray;"></fa-icon>
                <span class="sr-only">Loading...</span>
              </button>
            </div>
          </div>
          <!-- <button type="button" class="btn btn-default" >Добавить</button> -->
          <!-- <span class = "form-group">
            <button type="submit" class="btn btn-default" >Добавить</button>
          </span> -->

        </form>
      </div>
      <img *ngIf="!inventoryService.inventoryToEdit.image.loading" class="img-rounded img-responsive center-image" [src]="domSanitizer.bypassSecurityTrustUrl(inventoryService.inventoryToEdit.image.data)" />
      <p class="col-md-12 text-center" *ngIf="inventoryService.inventoryToEdit.image.loading">
        <fa-icon [icon]="['fas', 'cog']" [spin]="true" style="color:gray;"></fa-icon>
        <span class="sr-only">Loading...</span>
      </p>
    </div>
    <!-- ImageEditor End  -->
    <br/>

  </div>
</div>