<div class="inventory">
  <div class="inventory-menu row">
    <div class="col-md-8" style="text-align: center; width: 100%">
      <button class="btn btn-outline-secondary" style="width: 47%" type="submit" (click)="getLast100Inventory()">Показать
        последние</button>
      <button class="btn btn-outline-secondary" style="width: 47%" type="submit" (click)="getAllInventory()">Показать все</button>
    </div>
    <form class="col-md-4" style="margin-bottom: 5px;" role="search" method="get">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Поиск в каталоге" name="part"
          [(ngModel)]="inventoryToSearch">
        <div class="input-group-append">
          <button class="btn btn-warning" type="submit" (click)="searchInventory()">Поиск</button>
        </div>
      </div>
    </form>
  </div>
  <div class = "my-table">
    <div *ngIf = "loading" class = "flex-center-vertically text-center">
      <fa-icon [icon]="['fas', 'cog']" [spin]="true" size="3x" style="color:gray;"></fa-icon>
      <span class="sr-only">Loading...</span>
    </div>
    <div *ngIf="inventoryService.inventory.length">
      <table class="table table-striped table-sm">
        <thead>
          <th>
            Наименование
          </th>
          <th>
            Цена
          </th>
          <th>
            Мск-СПб-Тр
          </th>
        </thead>
        <tbody>
          <ng-container *ngFor="let inventory of inventoryService.inventory; let i = index">
            <tr [ngClass]="{'last-edited':inventory.id == inventoryService.inventoryToEdit.id}">
              <td style="width:70%">
                <a routerLink="" (click)="openInventoryId(inventory.id)">
                  <fa-icon [icon]="faEdit"></fa-icon>
                </a> id: {{inventory.id}}. {{inventory.description}} - {{inventory.numbers}}
              </td>
              <td style="width:10%">
                {{inventory.price}}
              </td>
              <td style="width:20%">
                {{inventory.msk}} - {{inventory.stock}} - {{inventory.ordered}}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>