.center-image {
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 100%; */
    /* max-width: 200px; */
    /* float: left; */
    /* max-height: 200px;
    height: 100% \9; */

}
/* 
.inventory-image{
  height:550px;
} */