<div class="col-md-12">
    <label class="control-label">Изображение:</label>
  </div>
  <div class="inventory-image mb-4">
    <div class="col-md-12 text-center" *ngIf="!inventoryService.inventoryToEdit.image.loading">
      <form class="form" style="margin-bottom:4px;">
        <div class="form-group">
          <button type="button" class="btn btn-outline-secondary btn-sm mx-1" (click)="editImageStart(); fileInput.click()"
            *ngIf="!inventoryService.inventoryToEdit.image.editing">Добавить</button>
          <input type="file" name="file" style="display: none;" (change)=onImageChange($event) accept=".heic, .jpg, .png" #fileInput>
          <button class="btn btn-outline-secondary btn-sm mx-1 mb-1" *ngIf="inventoryService.inventoryToEdit.image.editing" (click) = "fileInput.click()">
            Выбрать файл  
          </button>
          <button type="button" class="btn btn-outline-secondary btn-sm mx-1 mb-1" (click)="editImageCancel()"
            *ngIf="inventoryService.inventoryToEdit.image.editing">Отменить</button>
          <button type="button" class="btn btn-outline-secondary btn-sm mx-1 mb-1" *ngIf="inventoryService.inventoryToEdit.image.editing && inventoryService.inventoryToEdit.image.readyToSave" (click)="saveImage()">
            Сохранить
          </button>
          <div  *ngIf="inventoryService.inventoryToEdit.image.editing && inventoryService.inventoryToEdit.image.readyToSave">
            <input type="range" id="vol" name="vol" min="200" max="1000" [(ngModel)]="maxSize"> {{maxSize}} kb
            <button type="button" class="btn btn-outline-secondary btn-sm mx-1" (click)="changeImageSize()">Изменить размер</button>
            <button type="button" class="btn btn-outline-secondary btn-sm mx-1" (click)="rotateImage(true)">
              <fa-icon [icon]="['fas', 'redo']" style="color:gray;"></fa-icon>
              <!-- <span class="sr-only">Loading...</span> -->
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm mx-1" (click)="rotateImage(false)">
              <fa-icon [icon]="['fas', 'undo']" style="color:gray;"></fa-icon>
              <!-- <span class="sr-only">Loading...</span> -->
            </button>
          </div>
        </div>
        <div class="" *ngIf="inventoryService.inventoryToEdit.image.rotating">
          <fa-icon [icon]="['fas', 'cog']" [spin]="true" style="color:gray;"></fa-icon>
          <span class="sr-only">Loading...</span>
        </div>
        <!-- <button type="button" class="btn btn-default" >Добавить</button> -->
        <!-- <span class = "form-group">
          <button type="submit" class="btn btn-default" >Добавить</button>
        </span> -->
      </form>
    </div>
    <!-- <img  class="img-rounded img-responsive center-image" [src]="domSanitizer.bypassSecurityTrustUrl(inventoryService.inventoryToEdit.image.data)" /> -->
    <p class="col-md-12 text-center" *ngIf="inventoryService.inventoryToEdit.image.loading">
      <fa-icon [icon]="['fas', 'cog']" [spin]="true" style="color:gray;"></fa-icon>
      <span class="sr-only">Loading...</span>
    </p>
    <div class = "text-center mb-2">
      <img *ngIf="inventoryService.inventoryToEdit.image.data" class="rounded" style = "margin: 0 auto; max-width: 490px;" [src]="domSanitizer.bypassSecurityTrustUrl(inventoryService.inventoryToEdit.image.data)" alt="Card image cap">
    </div>
    <!-- <div class = "col-md-2 mx-2 mb-2">
      <img class="center-image" [src]="domSanitizer.bypassSecurityTrustUrl(image.image)" alt="...">
    </div> -->
    <div *ngIf="!inventoryService.inventoryToEdit.images.loading" class = "" >
      <div *ngFor = "let image of inventoryService.inventoryToEdit.images.data; let i = index">
    
        <div class = "text-center mb-2 col-md-12">
          <form class="form">
            <div class="form-group">
              <div *ngIf="!image.changeMain" class="mb-2">
                <button type="button" class="btn btn-outline-secondary btn-sm mx-1" (click)="deleteImageStart(i)"
                  *ngIf="!image.deleting">Удалить
                </button>
                <button type="button" class="btn btn-danger btn-sm mx-1 mb-1" *ngIf="image.deleting" (click)="deleteImage(i)">
                  Удалить
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm mx-1 mb-1" (click)="deleteImageCancel(i)"
                  *ngIf="image.deleting">Отменить</button>
              </div>
              <div *ngIf="!image.deleting">
                <button type="button" class="btn btn-outline-secondary mx-1 btn-sm"
                  *ngIf="!image.main && !image.changeMain" (click)="changeMainBegin(i)">Сделать основным</button>
                <button type="button" class="btn btn-outline-secondary mx-1 btn-sm" *ngIf="image.changeMain"
                  (click)="changeMainSave(i)">Подтвердить</button>
                <button type="button" class="btn btn-outline-secondary mx-1 btn-sm" *ngIf="image.changeMain"
                  (click)="changeMainCancel(i)">Отменить</button>
                <span *ngIf="image.main">Основной</span>
              </div>
              <div class="" *ngIf="image.delete || image.updatingMain">
                <fa-icon [icon]="['fas', 'cog']" [spin]="true" style="color:gray;"></fa-icon>
                <span class="sr-only">Loading...</span>
              </div>
            </div>


            <!-- <button type="button" class="btn btn-default" >Добавить</button> -->
            <!-- <span class = "form-group">
              <button type="submit" class="btn btn-default" >Добавить</button>
            </span> -->
    
          </form>
          <!-- <div class="card mb-2" style=""> -->
            <!-- <p>{{i}}</p> -->
            <img class="rounded" style = "margin: 0 auto; max-width: 490px;" [src]="domSanitizer.bypassSecurityTrustUrl(image.image)" alt="Card image cap">
          <!-- </div> -->
        </div>

        <!-- <img *ngIf="!inventoryService.inventoryToEdit.image.loading" class="img-rounded img-responsive center-image" [src]="domSanitizer.bypassSecurityTrustUrl(image.image)" /> -->
        <!-- <div class = "col-md-2 mx-2 mb-2">
          <img class="center-image" [src]="domSanitizer.bypassSecurityTrustUrl(image.image)" alt="...">
        </div> -->
      </div>
    </div>
    <p class="col-md-12 text-center" *ngIf="inventoryService.inventoryToEdit.images.loading">
      <fa-icon [icon]="['fas', 'cog']" [spin]="true" style="color:gray;"></fa-icon>
      <span class="sr-only">Loading...</span>
    </p>
  </div>
  <br/>
