<div class="" style="padding: 10px;">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">
          SEO
        </h5>
        <div class="card-body border-secondary">
          <p class="card-text">
            <a class="card-link text-info" [routerLink]
              (click)="addTab('Номенклатура','app-inventory')">Номенклатура</a>
          </p>
          <p class="card-text">
            <a class="card-link text-info" [routerLink] (click)="addTab('Permalinks','app-permalink')">Permalinks</a>
          </p>
          <p class="card-text">
            <a class="card-link text-info" [routerLink] (click)="addTab('SiteMap','app-sitemap')">SiteMap</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>