<div class = "inventory">
  <div *ngIf = "!loading" class= "inventory-menu col-sm-12" style="margin-top:10px;">
    <button *ngIf = "!askToUpdatePrice" class="btn btn-default" type="submit" (click)="createXL()">Обновить прайс</button>
    <button *ngIf = "askToUpdatePrice" class="btn btn-default" type="submit" (click)="createXL()">Обновить</button>
    <button *ngIf = "askToUpdatePrice" class="btn btn-default" type="submit" (click)="createXL()">Отменить</button>
  </div>
  <div>
    <div *ngIf = "loading" class = "flex-center-vertically text-center">
      <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
