<nav class="navbar navbar-inverse my-navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="main.revenue">Seltex</a>
        </div>
        <div class="collapse navbar-collapse" id = "bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a>{{commonDate}}</a></li> -->
                <!-- <li ng-if="access.toToolsPage()"><a ui-sref="main.tools">Инструменты</a></li>
                <li><a href="/mainOld/" target="_blank">Старая версия</a></li> -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Меню <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a  ui-sref="main.passwordChange">Сменить пароль</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href ng-click="exitApp()">Выход</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div>
<ul class="nav nav-tabs">
  <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink='/main'>Home</a></li>
  <li role="presentation" routerLinkActive="active"><a routerLink="/main/sales">Продажи</a></li>
  <li role="presentation" routerLinkActive="active"><a routerLink="/main/purchases">Закупки</a></li>
</ul>
<router-outlet></router-outlet>
</div>
