
<div class="">
  <div class="col-md-12">
    <!-- <h4><small><i class="glyphicon glyphicon-wrench"></i> Инструменты</small></h4> -->
    <br/>
  </div>
  <div class="col-md-8">

  </div>

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Торговля</h3>
      </div>
      <div class="panel-body">
        <p><a routerLink='sales' (click)="addTab('Продажи','sales')"><i class="glyphicon glyphicon-usd"></i>  Продажи</a></p>
        <p><a routerLink='purchases' (click)="addTab('Закупки','purchases')"><i class="glyphicon glyphicon-shopping-cart"></i>  Закупки</a></p>
        <p><a routerLink='payments' (click)="addTab('Оплаты','payments')"><i class="fa fa-credit-card" aria-hidden="true"></i>  Оплаты</a></p>
        <p><a routerLink (click)="addTab('Сервис','service')"><i class="glyphicon glyphicon-wrench"></i>  Сервис</a></p>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Аналитика</h3>
      </div>
      <div class="panel-body">
        <p ng-if="access.toOrdersPage()"><a ui-sref="main.orders({bakeryID: bakeries[0].id})"><i class="glyphicon glyphicons glyphicon-wrench"></i>  Заказы</a></p>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Администратору</h3>
      </div>
      <div class="panel-body">
        <p ng-if="access.toUsersManagementPage()"><a ui-sref="main.usersManagement"><i class="glyphicon glyphicon-user"></i>  Управление пользователями</a></p>
      </div>
    </div>
  </div>
</div>
