<h1 class="text-center">{{companyService.company.fullName}}</h1>
<div class="my-recaptcha">
  <re-captcha (resolved)="resolved($event)" siteKey="6LecUQUTAAAAAN49g1x5t4Oz7r65ZTNbMUMs28AN"></re-captcha>
</div>
<form *ngIf="captchaResponse" (ngSubmit)="logIn(f)" #f="ngForm" class="form-group form-group-lg my-login-formgroup">
    <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name = "email" ngModel required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Password" name = "password" ngModel required>
    </div>
    <button type="submit" class="btn btn-primary active btn-lg btn-block">Sign in</button>
</form>
