<h1 class="text-center">{{companyService.company.fullName}}</h1>
<div class="my-recaptcha">
  <re-captcha (resolved)="resolved($event)" siteKey="6LecUQUTAAAAAN49g1x5t4Oz7r65ZTNbMUMs28AN"></re-captcha>
</div>
<form *ngIf="captchaResponse" [formGroup]="logInForm" (ngSubmit)="logIn()" class="my-login-formgroup">
    <div class="form-group">
      <input id="email" type="text" formControlName="email" placeholder="Enter email" [ngClass] = "{'is-invalid': !emailValid(), 'is-valid': emailValid()}" class="form-control">
    </div>
    <div class="form-group">
      <input id="password" type="password" formControlName="password"  placeholder="Password" class="form-control" class="form-control">
    </div>
    <button class="btn btn-primary btn-block" type="submit">Sign in</button>
</form>
