<div>
<ul class="nav nav-tabs">

  <!-- <li role="presentation" [ngClass] = "{'active': homeIsActive()}"><a routerLink=''>Home</a></li> -->
  <li role="presentation" *ngFor = "let tab of tabs.main; let i = index" [ngClass] = "{'active': tabs.isActive(tab.id)}"><a routerLink="" (click)="tabs.openTab(tab.name, tab.id)">{{tab.name}} <a (click)="closeTab(i)" *ngIf = "tab.name != 'Home'" routerLink><i class="fa fa-times" aria-hidden="true"></i></a></a></li>
</ul>
<!-- <router-outlet></router-outlet> -->
<app-home  *ngIf = "tabs.isActive('app-home')"></app-home>
<app-service *ngIf = "tabs.isActive('app-service')"></app-service>
<app-inventory *ngIf = "tabs.isActive('app-inventory')"></app-inventory>
<app-inventory-change *ngIf = "tabs.isActive('app-inventory-change')"></app-inventory-change>
<app-manufacturers *ngIf = "tabs.isActive('app-manufacturers')"></app-manufacturers>

</div>
